BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortBlocksOnASingleLine: Never
InsertBraces: true
PointerAlignment: Left
AccessModifierOffset: -4
NamespaceIndentation: None
SortIncludes: CaseSensitive
